
body {
	
	background: url('../img/ricepaper.png');
	background-attachment: fixed;
	
	display: auto;
}

  


h1 {
	font-size: 3em;
	text-align: center;
	font-family: 'Courgette', cursive;
}

h2 {
	font-family: 'Courgette', cursive;
	text-align: center;
}

h3 {
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

li {
	list-style: none;
	
	
}

p {
	line-height: 1.5em;
	text-align: left;
}

img {
	border-radius: 35%;
}


/*Sushi Prices */

.price {
	color: #BCBCBC;
}

.yellow {
	color: #F8CA00;
}

.blue {
	color: #4797C2;
}

.red {
	color: #C2142B;
}

.green {
 	color: #349D55;
}

/*categories*/

.fish {
	padding: -5px 0px 0px 0px;
	margin: -5px;

	}

.category {
	margin: -5px;
	padding: 0 10px 0 10px;
}

.spicy {
	padding: -5px 0px 0px 0px;
	margin: -5px;
}

/*images*/

.belt {
	padding: 25px;
}


/*Show Sushi Roll Description */
div {
  
  float: left;
  overflow: hidden;
  height: 150px;
  width: 150px;
  transition: height 2s;

}

.showcaption {
  height: 100%; 
  transition: height 1s;

}
/*End description */


footer {
	text-align: center;
	font-size: .25em;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
}


/*Media Queries*/

/* Tablet */
@media screen and (max-width: 768px) {
  
  body {
  	background-color: green;
    margin: auto;
    display: inline-block;
  }

section.eight {
    margin: auto;
   width: 66%;
}




 }



/* Mobile */
@media screen and (max-width: 480px) {
  
  body {
    
    margin: auto;
    position: relative;
  }

  section.four {
    margin: auto;
    width: 100%;
  }


}


