
body {

	background: url('../img/ricepaper.png');
	background-attachment: fixed;
	
	display: auto;
}

  


h1 {
	font-size: 2em;
	text-align: center;
	font-family: 'Courgette', cursive;
}

h2 {
	font-family: 'Dekko', cursive;
	text-align: center;
}

li {
	list-style: none;
	text-align: left;
}

p {
	line-height: 1.3em;
	text-align: left;
}


/*Sushi Prices */

.price {
	color: white;
}

.yellow {
	color: #FFFB0A;
}

.blue {
	color: #4797C2;
}

.red {
	color: #C2142B;
}

.green {
 	color: #349D55;
}

/*Show Sushi Roll Description */
div {
  
  float: left;
  overflow: hidden;
  height: 150px;
  width: 150px;
  transition: height 2s;

}

.showcaption {
  height: 100%; 
  transition: height 1s;

}
/*End description */
